.signup-form {
  max-width: 450px;
  margin: 60px auto;
  padding: 20px;
  background-color: rgba(218, 218, 218, 0.8);
  border-radius: 10px;
}
.signup-form label {
  display: block;
  margin: 30px auto;
}
.signup-form span {
  display: block;
  margin-bottom: 6px;
}
.signup-form input {
  padding: 8px 6px;
  font-size: 1em;
  color: #777;
  width: 100%;
}
