.card-image {
  overflow: hidden;
  background: #f4f4f4;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 50px auto;
  max-width: 30%;
  border-radius: 10px;
}

.card-image > img {
  height: 50%;
  width: 100%;
  object-fit: cover;
}

.card-image h3 {
  font-size: 24px;
  font-weight: bold;
}

.image-list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;
}

.card-image p {
  font-size: 12px;
  opacity: .7;
  margin: 10px;
}


.card-image .card-image-info {
  padding: 16px;
  justify-content: space-between;
  position: relative;
}

.image-pending {
  border-radius: 10px;
  font-size: 36px;
  padding: 50px;
  margin: 10px auto;
  width: 500px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-title-like {
  display: flex;
  justify-content: space-between;
  margin: 0px 10px;
}


.like {
  font-size: 24px;
  padding: 0;
  margin: 10px;
  border: none;
  background: none;
}

.like:hover {
  color: #960000;
  font-size: 30px;
  cursor: pointer;
}

.liked {
  color: #960000;
}
